/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* Main Styling */

/* form */
form {
    margin: 5rem;
}

/* checkbox */
input[type="checkbox"] {
    position: relative;
    width: 10rem;
    height: 5rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 2.5rem;
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.4);
    background-color: #fff;
    transition: all 0.45s ease;
}

/* checkbox when checked state is on */
input:checked[type="checkbox"] {
    background-color: #7cfc00;
}

/* checkbox when checked state is off */
input:not(:checked)[type="checkbox"] {
    background-color: #ff0000;
}

/* before pseudo element */
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #c6d26c;
    transform: scale(1.1);
    box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
    transition: all 0.45s ease;
}

/* before pseudo element when checked state is on */
input:checked[type="checkbox"]::before {
    left: 5rem;
}
